@font-face {
    font-family: Vazir-variable;
    src: url("../font/Vazir-Variable.woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: Vazir-variable, sans-serif;
    font-size: 10px;
    list-style: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 15px 0;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    top: 0;
    left: 0;
    background-color: white;
}

.header__register {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.header__register__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #009ce0;
    font-weight: 700;

}

.header__logo {
    width: 90px;
}

.header__logo__img {
    width: 100%;
}

.header__ham-menu {
    width: 25%;
    display: flex;
    align-items: center;
    flex: 1;
}
.header__title-menu{
    display: none;
}
.header__title-menu--drop-down{
    display: none;
}
.insurance {
    width: 100%;
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #ddf0ff, #ffffff);
}

.insurance__title {
    width: 80%;
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    color: #555559;
}

.insurance__text {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 800;
    padding-top: 20px;

}

.insurance__spotlight {
    font-size: 1.1rem;
    text-align: center;
    font-weight: 900;
    padding-top: 10px;
}

.insurance__different-type {
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.insurance__one {
    width: 100px;
    height: 90px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 4px 4px;
    text-decoration: none;
}

.insurance__one:hover {
    border: 1px solid black;
}

.insurance__car {
    width: 40px;
}

.insurance__text-type {
    font-size: 1.3rem;
    font-weight: 900;
    color: #555559;
}

.insurance__one--cash {
    width: 100px;
    height: 90px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 4px 4px;
    position: relative;
    text-decoration: none;
}

.insurance__cash {
    background-color: #EBF3E9;
    color: #3C8825;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 800;
    padding: 3px 8px;
    position: absolute;
    top: -8px;
    left: 0;
}

.insurance__horizontal-line {
    width: 90%;
    height: 1px;
    background-color: #5DA0FB;
    margin-top: 15px;
    border: none;
}

.insurance__events {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.insurance__accident {
    width: 45%;
    border-radius: 15px;
    background-color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 8px;
    margin: 3px 3px;

}

.insurance__man-icon {
    width: 40px;
    height: 40px;
}

.insurance__accident-title {
    font-size: 1.2rem;
    color: #555559;
    font-weight: 600;
    margin-right: 20px;
}

.insurance__accident-title--elevator {
    font-size: 1.2rem;
    color: #555559;
    font-weight: 600;
    margin-right: 28px;
}

.insurance__accident-title--individual {
    font-size: 1.2rem;
    color: #555559;
    font-weight: 600;
    margin-right: 12px;
}

.city {
    width: 100%;
    margin-top: 40px;
}

.city__picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.two-cars {
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.two-cars__picture {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.chat-box {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
}

.online-payment {
    width: 100%;
    background-color: #F9F9F9;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.online-payment--damages{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.online-payment__title {
    width: 90%;
    font-size: 2.4rem;
    color: #2A2B2F;
    font-weight: 800;
    text-align: center;
    margin-top: 40px;
}

.online-payment__desc {
    width: 90%;
    font-size: 1.4rem;
    text-align: justify;
    color: #707174;
    margin-top: 20px;
}

.online-payment__registration {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.online-payment__stages {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    margin-top: 15px;
    padding: 5px 0;
}

.online-payment__stages-number {
    font-size: 1.8rem;
    color: #F5BE41;
}

.online-payment__stages-text {
    font-size: 1.2rem;
    font-weight: 900;
    color: #000000;
    margin-right: 20px;
}

.online-payment__btn {
    background-color: #3E8DF7;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 5px 20px;
    border-radius: 10px;
}

.online-payment__btn-text {
    font-size: 1.4rem;
    color: white;

}

.online-payment__arrow-icon {
    width: 25px;
    height: 25px;
    filter: contrast(0) brightness(100);
}

.online-payment__hit-cars {
    width: 80%;
    margin-top: 50px;
}

.online-payment__hit-cars-picture {
    width: 100%;
    margin-bottom: -20px;
}

.reminder {
    width: 90%;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 20px;
}

.reminder__yellow-color {
    width: 100%;
    background-color: #F5BE41;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 0 0;

}

.reminder__circle-clip {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reminder__circle {
    position: relative;
    padding: 20px 10px;
}

.reminder__clip {
    position: absolute;
    bottom: 34px;
    left: 15px;
}

.reminder__text {
    font-size: 2.4rem;
    font-weight: 800;
    padding-bottom: 40px;
}

.reminder__form {
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.reminder__input {
    width: 45%;
    border: 1px solid darkgray;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding: 10px 5px;
    margin: 5px;
}

.reminder__label {
    font-size: 1.2rem;
    font-weight: 800;
    color: #707174;
}

.reminder__input-distance {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.reminder__label--no-arrow {
    width: 45%;
    font-size: 1.2rem;
    font-weight: 800;
    color: #707174;
    border: 1px solid darkgray;
    border-radius: 8px;
    padding: 10px 10px;
    margin: 5px;
}

.reminder__btn {
    margin-top: 30px;
    background-color: #3E8DF7;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;

}

.benefits {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.benefits__one {
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 50%;
    margin: 8px;
}

.benefits__title {
    width: 50%;
    text-align: center;
    color: #2A2B2F;
    font-weight: 700;
    padding-top: 5px;
}

.life-insurance {
    width: 80%;
    margin-top: 140px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.life-insurance__icon {
    position: relative;
}

.image {
    position: absolute;
    top: -70px;
    right: -80px;
}

.life-insurance__title {
    font-size: 1.6rem;
    font-weight: 800;
    padding-top: 100px;
    text-align: center;
}

.life-insurance__desc {
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 600;
    color: #707174;
    padding: 10px 35px;
}

.life-insurance__more {
    text-decoration: none;
    background-color: #3E8DF7;
    font-size: 1.4rem;
    text-align: center;
    padding: 5px 20px;
    margin: 30px 0;
    border-radius: 10px;
    color: white;
}

.movement {
    width: 90%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movement__right {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}

.movement__left {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
}

.definition-Azki {
    width: 100%;
    margin-top: 30px;
    padding: 48px 0;
    background-color: #3E8DF7;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.definition-Azki__title {
    font-size: 2.4rem;
    text-align: center;
    color: white;
}

.definition-Azki__desc {
    font-size: 1.2rem;
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    text-align: center;
}

.Azki-information {
    width: 100%;
    background: linear-gradient(#F9F4E7, #E6F6F9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Azki-information__total-data {
    max-width: 450px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Azki-information__insurance-accessibility {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Azki-information__insurance-title {
    color: #3E8DF7;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.Azki-information__insurance-name {
    text-decoration: none;
    color: #2A2B2F;
    font-weight: 900;
    font-size: 1.2rem;
}

.Azki-information__access-name {
    text-decoration: none;
    color: #2A2B2F;
    font-weight: 900;
    font-size: 1.2rem;
}

.Azki-information__insurance-name:hover {
    color: #009ce0;
}

.Azki-information__access-name:hover {
    color: #009ce0;
}

.Azki-information__general {
    width: 100%;
    margin-top: 40px;
}

.Azki-information__logo {
    width: 100%;
}

.Azki-information__logo__img {
    width: 25%;
}

.Azki-information__data {
    width: 100%;
    padding-left: 14px;
}

.Azki-information__desc {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 5px;
}

.Azki-information__about-us {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Azki-information__explanation {
    color: black;
    padding-right: 15px;
    font-size: 1.2rem;
    font-weight: 900;
}

.Azki-information__phone-number {
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 1.2rem;
}

.Azki-information__mail {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
}

.Azki-information__links {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Azki-information__links-logo {
    background: white;
    padding: 8px 10px;
}

.Azki-information__links-img {
    width: 60px;
    height: 60px;
}

.Azki-footer {
    width: 100%;
    background: linear-gradient(to right, #2151CC, #739FF2);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Azki-footer__copy-right {
    width: 58%;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    font-weight: 300;
}

.Azki-footer__social-network {
    width: 150px;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Azki-footer_social-network__background {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Azki-footer_social-network__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Azki-footer__telegram {
    border-radius: 50%;
}

@media (min-width: 376px) {
    .insurance__different-type {
        width: 400px;
    }

    .insurance__one {
        width: 120px;
        height: 110px;
    }

    .insurance__one--cash {
        width: 120px;
        height: 110px;
    }
}

@media (min-width: 960px) {
    .header{
        width: 100%;
        padding: 25px 64px;
    }
    .header__ham-menu{
        display: none;
    }
    .header__logo-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__menu{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__title-menu{
        margin-right: 20px;
        display: flex;
        justify-content: space-evenly;
    }
    .header__title-menu--drop-down{
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 20px;
    }
    .header__title-menu-link{
        text-decoration: none;
        color: black;
        font-size: 1.4rem;
        font-weight: 800;
    }
    .header__register__link{
        width: 110px;
        border:1px solid #3E8DF7;
        text-align: center;
        padding: 8px 10px;
        border-radius: 30px;
        font-size: 1.4rem;
    }
    .insurance__different-type {
        width: 700px;
    }
    .insurance__car{
        width: 55%;
    }
    .insurance__text-type{
        font-size: 1.4rem;
        font-weight: 800;
    }
    .insurance__one {
        width: 120px;
        height: 110px;
        margin: 8px 8px;

    }
    .insurance__horizontal-line{
        width: 900px;
    }
    .insurance__one--cash {
        width: 120px;
        height: 110px;
        margin: 8px 8px;

    }
    .insurance__events{
        width: 700px;
    }
    .insurance__accident{
        width:200px;
        margin: 10px 10px;
    }
    .insurance__accident-title--elevator{
        margin-right: 40px;
    }
    .insurance__accident-title--individual{
        margin-right: 30px;
    }
    .insurance__accident-title{
        margin-right: 30px;
    }
    .two-cars{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .two-cars__picture{
        width: 60%;
    }
    .online-payment{
        height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .online-payment__title{
        width: 95%;
        text-align: right;
    }
    .online-payment__desc{
        width:95%;
        text-align: right;
    }
    .online-payment--damages{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .online-payment__registration{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .online-payment__stages{
        width: 150px;
        margin-right: 10px;
    }
    .online-payment__stages-text{
        margin-right: 10px;
    }
    .online-payment__hit-cars{
        width: 40%;
        position: relative;
    }
    .online-payment__hit-cars-picture{
        width: 400px;
        position: absolute;
        top: -24px;
    }
    .online-payment__btn{
        margin-top: 30px;
    }
    .reminder{
        width:700px;
    }
    .reminder__yellow-color{
        justify-content: center;
        align-items: center;
    }
    .reminder__text{
        padding-bottom: 10px;
    }
    .reminder__boxes{

    }

}